<h1>Listing projetos</h1>

<table class="table table-stripped">
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Criador</th>
    <th></th>
    <th></th
    <th></th>
    <th></th>
  </tr>

<% @projetos.each do |projeto| %>
  <tr>
    <td><%= projeto.nome %></td>
    <td><%= projeto.descricao %></td>
    <td><%= projeto.usuario.email %></td>
	<% if current_usuario.email != projeto.usuario.email %>
	<% if projeto.enrolled? current_usuario %>
	    <td><%= link_to 'Enroll', {:controller => "projetos", :action => "enroll", :projeto => projeto, :usuario => current_usuario}, :class => "btn btn-success" %></td>
	<% else %>
    	<td><%= link_to 'Cancel',{:controller => "projetos", :action => "cancel", :usuario => current_usuario}, :class => "btn  btn-danger"%></td>
	<% end %>
	<%end%>
	<td><%= link_to 'Team', projeto %></td>
	<% if current_usuario.email == projeto.usuario.email %>
    	<td><%= link_to 'Edit', edit_projeto_path(projeto) %></td>
    	<td><%= link_to 'Destroy', projeto, confirm: 'Are you sure?', method: :delete %></td
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Projeto', new_projeto_path, :class => "btn btn-primary" %>
