<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @projeto.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @projeto.descricao %>
</p>

<p>
  <b>Criador:</b>
  <%= @projeto.usuario.email %>
</p>

<p>
	<b>Time:</b>
	<% @enrollments.each do |enroll| %>
		<%= enroll.usuario.email %>
	<% end %>
</p>

<%= link_to 'Editar', edit_projeto_path(@projeto) %> |
<%= link_to 'Listagem de projetos', projetos_path %>
